<div class="panel panel-success">
    <div class="panel-heading">{{ 'eve_api.functions'|trans }}</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'eve_api.function.enabled'|trans }}</th>
                <th>{{ 'eve_api.function.name'|trans }}</th>
                <th>{{ 'eve_api.function.entity'|trans }}</th>
                <th>{{ 'eve_api.function.access_mask'|trans }}</th>
                <th>{{ 'eve_api.function.last_called'|trans }}</th>
                <th>{{ 'eve_api.function.success'|trans }}</th>
                <th>{{ 'eve_api.function.cached_until'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for usage in apiKey.functionUsages %}
                <tr>
                    <td><i class="glyphicon glyphicon-{{ usage.enabled ? 'ok' : 'remove' }}"></i></td>
                    <td>{{ usage.function.name }}</td>
                    <td>
                        {% if usage.function.type == 'char' %}
                            {{ usage.character.name }}
                        {% elseif usage.function.type == 'corp' %}
                            {{ usage.corporation.name }}
                        {% endif %}
                    </td>
                    <td>{{ usage.function.accessMask }}</td>
                    <td>{{ usage.lastCalledAt ? usage.lastCalledAt|date('Y-m-d H:i:s') : '-' }}</td>
                    <td><i class="glyphicon glyphicon-{{ usage.success ? 'ok' : 'remove' }}"></i></td>
                    <td>{{ usage.cachedUntil ? usage.cachedUntil|date('Y-m-d H:i:s') : '-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>