{% extends base_layout %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ path('eve_api_key_crud_list') }}">{{ 'eve_api.list'|trans }}</a></li>
        {% block eve_api_breadcrumb %}
        {% endblock %}
    </ol>
    {% block eve_api_crud %}{% endblock %}
{% endblock %}