{% extends 'Tz7EveApiBundle:CRUD:base.html.twig' %}

{% block eve_api_breadcrumb %}
    <li class="active">{{ 'eve_api.submit_key'|trans }}</li>
{% endblock %}

{% block eve_api_crud %}
    {{ include('Tz7EveApiBundle:CRUD:_form_key.html.twig') }}
{% endblock %}