{% extends 'Tz7EveApiBundle:CRUD:base.html.twig' %}

{% block eve_api_crud %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'eve_api.key'|trans }}</th>
                <th>{{ 'eve_api.type'|trans }}</th>
                <th>{{ 'eve_api.access_mask'|trans }}</th>
                <th>{{ 'eve_api.last_checked_at'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
                <tr>
                    <td>{{ key.id }}</td>
                    <td>{{ key.type }}</td>
                    <td>{{ key.accessMask }}</td>
                    <td>
                        {% if key.lastCheckedAt %}
                            {{ key.lastCheckedAt|date('Y-m-d H:i:s') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('eve_api_key_crud_show', {'id': key.id}) }}">{{ 'eve_api.actions.show'|trans }}</a>
                        | <a href="{{ path('eve_api_key_crud_edit', {'id': key.id}) }}">{{ 'eve_api.actions.edit'|trans }}</a>
                        | <a href="{{ path('eve_api_key_crud_remove', {'id': key.id}) }}">{{ 'eve_api.actions.remove'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('eve_api_key_crud_create') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus-sign"></i> {{ 'eve_api.submit_key'|trans }}
    </a>
{% endblock %}