{% extends 'Tz7EveApiBundle:CRUD:base.html.twig' %}

{% block eve_api_breadcrumb %}
    <li class="active">{{ 'eve_api.actions.remove'|trans|title }}</li>
{% endblock %}

{% block eve_api_crud %}
    <form action="{{ path('eve_api_key_crud_remove', {'id': apiKey.id}) }}" method="post">
        <p>{{ 'eve_api.confirm_remove_key'|trans({'%api_key%': apiKey.id}) }}</p>
        <a href="{{ path('eve_api_key_crud_list') }}" class="btn btn-default">{{ 'eve_api.actions.cancel'|trans|title }}</a>
        <button type="submit" name="confirmed" value="1" class="btn btn-danger">{{ 'eve_api.actions.remove'|trans|title }}</button>
    </form>
{% endblock %}