{% extends 'Tz7EveApiBundle:CRUD:base.html.twig' %}

{% block eve_api_breadcrumb %}
    <li class="active">{{ 'eve_api.actions.show'|trans|title }}</li>
{% endblock %}

{% block eve_api_crud %}
    <h1>{{ 'eve_api.show_title'|trans }}</h1>

    <div class="panel panel-info">
        <div class="panel-heading">{{ 'eve_api.info'|trans }}</div>
        <div class="panel-body">
            <p><b>{{ 'eve_api.key'|trans }}:</b> {{ apiKey.id }}</p>
            <p><b>{{ 'eve_api.type'|trans }}:</b> {{ apiKey.type }}</p>
            <p><b>{{ 'eve_api.access_mask'|trans }}:</b> {{ apiKey.accessMask }}</p>
            {% if apiKey.expiresAt %}
                <p><b>{{ 'eve_api.expires_at'|trans }}:</b> {{ apiKey.expiresAt|date('Y-m-d') }}</p>
            {% endif %}
            {% if apiKey.lastCheckedAt %}
                <p><b>{{ 'eve_api.last_checked_at'|trans }}:</b> {{ apiKey.lastCheckedAt|date('Y-m-d H:i:s') }}</p>
            {% endif %}
        </div>
    </div>

    {{ include('Tz7EveApiBundle:CRUD:_show_functions.html.twig') }}
{% endblock %}